/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.conteudo-centralizado {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #fff;
}

/* Estilos para Parágrafos */
p {
    margin-bottom: 20px;
}

/* Estilos para Imagens */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

/* Responsividade */
@media (max-width: 768px) {
   .conteudo-centralizado {
        padding: 15px;
    }

    img {
        margin: 10px auto;
    }
}